!!!
%html
  %head
    %title= current_page.data.title || "Forty"
    %link(href="https://fonts.googleapis.com/css?family=Prompt:300,700,900" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet")
    = favicon_tag '/images/favicon.png'
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    #wrapper
      %header
        %h1= link_to "Forty", "/"
        %nav= link_to "Go To App", "https://app.fortyeven.com"
      %main= yield
      %footer
        %p
          copyright #{Time.now.year}
          = link_to "Very Nice Code", "https://www.verynicecode.biz"
          %br
          = link_to "blog", "/blog"
          \|
          = link_to "privacy", "/privacy"
          \|
          = mail_to "help@fortyeven.com", "help"
